<div class="relative p-4" data-controller="sidebar-dropdown">
  <button class="w-full h-12 bg-gray-200 text-black rounded" data-action="click->sidebar-dropdown#toggle">Filter By Year</button>
  <div data-sidebar-dropdown-target="list" class="hidden z-10">
    <ol class="bg-gray-200 rounded mt-2 p-2">
        <%= link_to "/map?year=2017" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2017</li>
        <% end %>
        <%= link_to "/map?year=2018" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2018</li>
        <% end %>
        <%= link_to "/map?year=2019" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2019</li>
        <% end %>
        <%= link_to "/map?year=2020" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2020</li>
        <% end %>
        <%= link_to "/map?year=2021" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2021</li>
        <% end %>
        <%= link_to "/map?year=2022" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2022</li>
        <% end %>
        <%= link_to "/map?year=2023" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2023</li>
        <% end %>
        <%= link_to "/map?year=2024" do %>
            <li class="p-2 hover:bg-gray-300 rounded">Year 2024</li>
        <% end %>
    </ol>
  </div>
</div>